    .one {
      background-color: rgba(59, 69, 201, 0.212);
      transform: translate(-300%, 1000px);
      animation: move1 3s ease-in-out infinite;
      overflow-x: hidden;
      z-index: 5;
      box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.6);
    }

    .two {
      background-color: rgba(86, 202, 32, 0.753);
      width: 140%;
      position: absolute;
      transform: perspective(300px) rotate3d(0.1, 0.79, 1, 18deg);
      z-index: 5;
      box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.6);
    }

    .three {
      color: white;
      background-color: rgba(202, 123, 32, 0.453);
      width: 120%;
      position: absolute;
      transform: perspective(1120px) rotate3d(-38.9, 288.79, -79, 18deg);
      z-index: 5;
      box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.6);
    }

    .five {
      box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.6);
      position: absolute;
      width: 100%;
      top: 90%;
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.9);
      left: 0%;
    }

    .marquee {

      line-height: 50px;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;

    }

    .marquee p {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 15s ease-in-out infinite;
    }

    .marqueeReverse p {
      display: inline-block;
      padding-left: 100%;
      animation: marqueeReverse 15s ease-in-out infinite;
    }

    .marqueeVertical p {
      display: inline-block;
      border-radius: 3px;
      padding: 8rem;
      animation: marqueeVertical 15s ease-in-out infinite;
      color: white;
      background-color: rgba(255, 192, 203, 0.5);
      box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.6);

    }

    .marqueeBottom p {
      display: inline-block;
      font-size: 2rem;
      animation: marqueeBottom 9s ease-out infinite;
      color: rgb(103, 233, 27);
      transform: translate(-150%, 0);
    }

    #marqueeMoveOne p {}

    #marqueeMoveOne {
      position: absolute;
      width: 100%;
      transition: all 3s ease-in-out;
      background-color: rgba(222, 34, 23, 0.7)
    }



    @keyframes marquee {
      0% {
        transform: translate(10%, 0);
      }

      100% {
        transform: translate(-100%, 0);
      }
    }

    @keyframes marqueeReverse {
      0% {
        transform: translate(-100%, 0);
      }

      100% {
        transform: translate(0%, 0);
      }
    }

    @keyframes marqueeVertical {
      0% {
        transform: translate(0, 500%);
      }

      100% {
        transform: translate(0, -200%);
      }
    }

    @keyframes marqueeBottom {
      0% {
        transform: translate(-200%, 0);
      }

      100% {
        transform: translate(600%, 0);
      }
    }

    @keyframes move1 {
      0% {
        transform: translate(100%, 20%)rotate(30deg) skew(0deg);

      }

      100% {
        transform: translate(-100%, 50%) rotate(360deg) skew(20deg);
      }
    }

    @keyframes move2 {
      0% {}

      100% {}
    }